<% if @book.errors.any? %>
  <div class="error_massage_color">
    <h3>
      <%= @book.errors.count %> errors prohibited this obj from being saved:
    </h3>
    <% @book.errors.full_messages.each do |message| %>
      <div class="error_container">
        <li class="error_massage_color"><%= message %></li>
      </div>
    <% end %>
  </div>
<% end %>

<!--グリッドシステム  -->
<div class="row">
  <!-- 左カラム -->
  <div class="col-xs-3">
     <%= render 'books/left_column', user: @user, book: @book %>
  </div>
  <!-- 左カラムここまで -->

  <!-- 右カラムここから -->
  <div class="col-xs-9">


    <!-- ユーザー一覧 -->
    <div>
      <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user.id), class: "user_#{user.id}" %></td>
          </tr>
          <% end %>
        </table>
    </div>
   <!-- 右カラムここまで -->
  </div>
</div>